*{
    font-family: 'Roboto Slab', serif;
}

body{
    background-color: rgb(249, 239, 228);
    
}


#logo{
    width: 150px;
}

header{
    background-color: rgb(24, 24, 24);
    padding: 10px 0;
}

.caixa{
    position: relative;
    width: 974px;
    margin: auto;
}

nav{
    position: absolute;
	top: 110px;
	right: 0;
}

nav li {
    display: inline;
	margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 22px;
    
}

nav a:hover{
    color: rgb(216, 167, 88);
    text-decoration:underline;
}

.produtos{
    width: 940px;
    margin:  0 auto;
    padding: 50px 0;
    display: flex;
}

.produtos li{
    text-align: center;
    width:30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.flip-card{
    background-color:transparent;
    color: transparent;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    perspective: 1000px;
    margin: auto;
}

.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style:  preserve-3d;
}

.flip-card:hover .flip-card-inner{
    transform:  rotateY(180deg);
    border-radius: 20px;
}

.flip-card:hover h2{
    font-size: 32px;
}

.flip-card:hover .produto-preco{
    font-size: 25px;
}

.flip-card:hover img{
    transition: transform 0.9s;
    filter: brightness(20%);
}


.flip-card-front, 
.flip-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 20px;
}


.flip-card-back{
    color: white;
    transform: rotatey(180deg);
    font-size: 18px;
    margin-top: 90px;
}

.produto-imagem{
    width: 200px;
    height: 250px;
    border-radius: 20px;
    margin-top: 10px;
}

.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

main{

    width: 940px;
    margin: auto;
}

#main-contato{
    width: 600px;
    margin: 0 auto;
}

.main-contato h2{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
}

form{
    margin: 5px 0;
    border: solid black;
    border-radius: 30px;
    padding: 15px 0;
}

form label, legend, select{
    display: block;
    margin:  0 0 20px;
    font-size: 20px;
    margin: 10px auto;
    margin-left: 35px;
}

.corpo-contato{
    width: 80%;
    margin: auto;
}

.corpo-contato > .input-padrao{
    display: block;
    width: 80%;
    font-size: 20px;
    margin-bottom: 15px;
    margin: 20px auto;
    border-radius: 5px;
    padding: 10px 10px;
}

#check{
    margin: 15px 1px 1px 1px;
}

.periodo{
    margin: 20px 0;
}

#Enviar{
    display: block;
    width: 85%;
    font-size: 20px;
    margin: 20px auto;
    border-radius: 5px;
    padding: 10px 10px;
    color: white;
    border: none;
    background-color: #000000;
    cursor: pointer;
}

#Enviar:hover{
    transform: scale(1.05);
}

#Enviar:active{
    background-color: #232323;
}

table{
    margin: auto;
}

thead{
    background-color:#bbbb ;
    font-weight: bold;
}

td, th{
    border: 1px solid black;
    padding: 8px 15px;
}

/*css da página principal*/
.banner{
    width: 100%;
    height: 500px;
}

.titulo-secundario{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 1em 0;
    clear: left;
}

.poste{
    width: 150px;
    float: left;
    margin: 0 20px 20px 0;
    border-radius: 15px;
    box-shadow: 5px 5px 15px black;
}

.principal{
    padding: 10px;
    width: 940px;
    margin: auto;
}

.principal p{
    margin-bottom: 2em;
    text-align: justify;
    
}

.conteudo-beneficio{
    width: 940px;
    margin: 0 auto;
}

.lista-beneficio{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens:before{
    content: "✂ ";
}

.itens{
  line-height: 2.8;
  font-weight: 550;
}

.imagem-beneficio{
    width: 60%;
    border-radius: 15px;
    box-shadow: 5px 5px 15px black;
}

.video{
    width: 940px;
    margin: 1em auto;
}

.video video{
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px black;
}

.mapa{
    margin: 1em;
}
.mapa p{
    margin: 2em;
    text-align: center;
}

.mapa iframe{
    border-radius: 15px;
    margin-bottom: 50px;
}

footer{
    text-align: center;
    background-color: rgb(24, 24, 24);
    padding: 20px 0;
}

footer p{
    color: white;
    margin-top: 20px;
}

#logo-footer{
    width: 100px;
}

@media screen and (max-width: 480px) {
    .caixa, header, .banner, .principal{
        width: 100%;
        margin: auto;
    }

    nav{
        position: static;
        text-align: center;
        margin: 10px auto;
    }

    .item-nav{
        padding-top: 10px;
        font-size: 18px;
        margin: auto;
    }

    .banner{
        height: auto;
    }
    
    main{
        width: 100%; 
        margin: 0;
        padding: 0;
    }

    .principal{
        padding: 0;
    }

    .conteudo-princial{
        width: 100%;
        display: block;
        flex-wrap: wrap;
        position: static;

    }

    .conteudo-princial p{
        padding: 15px;
        margin-bottom:.05em ;
    }

    .poste{
        display: block;
        float: none;
        flex-wrap: nowrap;
        margin: auto;
    }

    .item-beneficio{
        width: 100%;
        display: block;
        flex-wrap: wrap; 
    }

    .conteudo-beneficio-principal{
        width: 100%;
        display: block;
        flex-wrap: wrap;
    }
    .conteudo-beneficio{
        width: 100%;
        margin: auto;
    }

    .lista-beneficio{
        width: 100%;
        display: block;
        flex-wrap: wrap;
        text-align: center;
        margin-bottom: 15px ;
    }
    

    .imagem-beneficio{
        width: 100%;
        border-radius:0%;
    }

    .video {
        width: 100%;
    }

    .video video{
        border-radius: 0%;
    }

    .conteudo-mapa{
        width: 100%;
        display: block;
        flex-wrap: wrap;
    }

    h1{
        text-align: center;
    }

    .itens{
        line-height: 1.2;
        font-weight: 550;
        margin-right: 5px;
        margin-bottom: 15px;
    }
    
    .produtos{
        width: 100%;
        display: block;
        flex-wrap: wrap;
    }

    .produtos li{
        width: 100%;
        padding: 0;
    }

    .produtos li h2{
        margin-top: 50px;
    }

    .main-contato,.corpo-contato{
        width: 100%; 
        margin: 0;
        padding: 0;
    }

    form{
        width:100% ;
        border: none;
    }

}




